* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 1024px) {


    .navbar {

        display: flex;
        background-color: white;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        position: fixed;
        width: 100%;
        top: 0;
        margin-bottom: 10px;
        box-sizing: border-box;
        z-index: 10;
    }

    .navbar-left {
        display: flex;
        align-items: center;
    }

    .navbar-left .main-svg {
        height: 50px;
        width: 50px;
    }

    .hamburger-container {
        cursor: pointer;
        display: inline-block;
        align-items: center;
        box-sizing: border-box;


    }

    .hamburger-container img {
        width: 20px;
        height: 20px;
        transition: all 0.7s ease;
        transform-origin: center;
        vertical-align: middle;

    }

    .navbar .navbar-left .hamburger {

        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30px;
        height: 20px;
    }

    .hamburger span {

        background-color: #fff;
        height: 3px;
        width: 100%;
        transition: all 0.3s ease;

    }

    .navbar .navbar-left .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;

    }

    .navbar .navbar-left .menu li {
        cursor: pointer;
        padding: 10px 20px;
    }

    .navbar .navbar-left .menu li a {
        cursor: pointer;
        color: #fff;
        text-decoration: none;

    }

    .navbar .navbar-left .menu li a:hover {
        background-color: #555;
    }


    /* showing mobile menu when checkbox is clicked */
    /* Show menu when the hamburger icon is clicked */
    .hamburger-container.active+.menu {
        display: flex;
    }

    .hamburger-container.active img {
        transform: rotate(90deg);
    }

    .menu:hover {
        color: #00754a;
    }

    .rewards:hover {
        color: #00754a;
    }

    .gift-cards:hover {
        color: #00754a;
    }

    .navbar-left div {
        font-size: 16px;
        font-weight: 50;
    }

    .navbar-left>* {

        padding-left: 50px;

    }

    .navbar-right>* {
        padding-right: 40px;
        margin: 20px;
    }

    .navbar-right {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .find-a-store {
        display: flex;
        align-items: center;
    }

    .find-a-store div {
        margin-left: 10px;

    }

    .find-a-store:hover {
        color: #00754a;

    }


    .store-div {
        display: inherit;
        align-items: center;
    }

    .store-div:hover {
        color: #00754a;
    }

    .sign-in,
    .join-now {
        font-weight: 500;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 40px;
        padding: 7px 16px 7px 16px;

    }

    .join-now {
        background-color: black;
        color: white;
    }

    .join-now:hover {
        background-color: rgba(0, 0, 0, 0.7);
        border-color: rgba(0, 0, 0, 0.7);
    }

    .sign-in:hover {
        background-color: rgba(0, 0, 0, 0.1);

    }

    /* product starts here... */

    .product-container {
        margin-top: 100px;
        display: flex;
        background-color: #1e3932;
        justify-content: space-between;

    }

    .product-left img {
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        object-fit: fill;
        overflow: hidden;

    }

    .product-right,
    .product-left {
        flex: 1 1 50%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .product-right h1 {
        text-align: center;
    }

    .sign-up {


        object-fit: cover;
        width: 20%;
        max-width: 20%;
        color: white;
        background-color: black;
        border-radius: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sign-up:hover {
        background-color: rgba(0, 0, 0, 0.6);
        border-color: rgba(0, 0, 0, 0.6);

    }

    .product-right {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        object-fit: cover;

    }


    /* footer code */
    footer {

        height: 30vh;

    }


    .footer-container {

        display: flex;
        justify-content: space-evenly;
    }

    .footer-container ul {

        margin-top: 50px;
        list-style-type: none;
        padding-left: 0;

    }

    .footer-container li {

        padding-bottom: 20px;
        color: rgba(0, 0, 0, 0.58);
    }

    .footer-container li:hover {
        color: rgba(0, 0, 0, 0.87);
    }

    .footer-container h2 {

        color: rgba(0, 0, 0, 0.87);

    }

    .footer-item {

        padding-top: 20px;

    }

    #hidden-column {
        display: none;
    }


}

@media only screen and (min-width: 1025px) {

    .navbar-left svg {
        height: 50px;
        width: 50px;
    }

    .navbar {

        display: flex;
        background-color: white;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        position: fixed;
        width: 100%;
        top: 0;
        margin-bottom: 10px;
        box-sizing: border-box;
        z-index: 10;
    }

    .navbar-left {
        display: flex;
        align-items: center;

    }

    .menu:hover {
        color: #00754a;
    }

    .rewards:hover {
        color: #00754a;
    }

    .gift-cards:hover {
        color: #00754a;
    }

    .navbar-left div {
        font-size: 16px;
        font-weight: 50;
    }

    .navbar-left>* {

        padding-left: 50px;

    }

    .navbar-right>* {
        padding-right: 40px;
        margin: 20px;
    }

    .navbar-right {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .find-a-store {
        display: flex;
        align-items: center;
    }

    .find-a-store div {
        margin-left: 10px;

    }

    .find-a-store:hover {
        color: #00754a;

    }


    .store-div {
        display: inherit;
        align-items: center;
    }

    .store-div:hover {
        color: #00754a;
    }

    .sign-in,
    .join-now {
        font-weight: 500;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-radius: 40px;
        padding: 7px 16px 7px 16px;

    }

    .join-now {
        background-color: black;
        color: white;
    }

    .join-now:hover {
        background-color: rgba(0, 0, 0, 0.7);
        border-color: rgba(0, 0, 0, 0.7);
    }

    .sign-in:hover {
        background-color: rgba(0, 0, 0, 0.1);

    }

    /* product starts here... */

    .product-container {
        margin-top: 100px;
        display: flex;
        background-color: #1e3932;
        justify-content: space-between;

    }

    .product-left img {
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        object-fit: fill;
        overflow: hidden;

    }

    .product-right,
    .product-left {
        flex: 1 1 50%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .product-right h1 {
        text-align: center;
    }

    .sign-up {


        object-fit: cover;
        width: 20%;
        max-width: 20%;
        color: white;
        background-color: black;
        border-radius: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sign-up:hover {
        background-color: rgba(0, 0, 0, 0.6);
        border-color: rgba(0, 0, 0, 0.6);

    }

    .product-right {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        object-fit: cover;

    }


    /* footer code */
    footer {

        height: 30vh;

    }


    .footer-container {

        display: flex;
        justify-content: space-evenly;
    }

    .footer-container ul {

        margin-top: 50px;
        list-style-type: none;
        padding-left: 0;

    }

    .footer-container li {

        padding-bottom: 20px;
        color: rgba(0, 0, 0, 0.58);
    }

    .footer-container li:hover {
        color: rgba(0, 0, 0, 0.87);
    }

    .footer-container h2 {

        color: rgba(0, 0, 0, 0.87);

    }

    .footer-item {

        padding-top: 20px;

    }

    #hidden-column {
        display: none;
    }
}